html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #ECECEC;
}

body {
    padding: 0;
    margin: 0;
}

button {
    background-color: #D64541;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 5px;
}

input {
    border: 2px solid black;
    padding-top: 5px 10px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: red;
}

header {
    text-align: center;
    background-color: #2C3E50;
    padding: 10px;
}

header h1 {
    color: #FDE3A7;
    margin: 0;
}

* {
    box-sizing: border-box;
}

form {
    text-align: left;
    display: inline-block;
}

#form {
    text-align: center;
}

#info {
    text-align: center;
}

#error {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    display: inline-block;
    margin: auto;
}

#success {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
    display: inline-block;
    margin: auto;
}

#button {
    text-align: center;
    margin-top: 8px;  
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 15px;
}
